<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2024 Bus Scheduling System. All rights reserved.</p>
    <p>
      <a href="#" class="text-white">Contact Us</a> |
      <a href="#" class="text-white">Documentation</a>
    </p>
    <p>
      <a href="#" class="text-white">Twitter</a> |
      <a href="#" class="text-white">LinkedIn</a>
    </p>
  </footer>
  